.titlebox{
    border:1px solid grey;
    margin:0px;
    box-shadow:10px 0px 5px grey;
    height:75px;
    background-image:linear-gradient(to bottom,purple,midnightblue);
    color:violet;
    padding-left:45px;
}
.articleBox{
    text-align:center;
    width:677px;
}
.articleBox h1{
    color:purple;
}