.titlebox{
    border:1px solid grey;
    margin:0px;
    height:70px;
    background-image:linear-gradient(to bottom,purple,midnightblue);
    color:violet;
    padding-left:5%;
    padding-top:3%;
    filter:drop-shadow(35px 0px 20px black);
}
.titlebox h2{
    display:inline;
}
.theNav{
    display:inline;
    margin-left:33%;
}
.theNav h3{
    display:inline;
    margin:10px;
}
.articleBox{
    width:900px;
    display:flex;
    justify-content:space-between;
    margin-left:5%;
}
.articleBoxCol1{
    display:flex;
    flex-direction:column;
    width:400px;
}
.articleBoxCol2{
    padding-top:10%;
}
.articleBox h1{
    color:purple;
}
.articleBox2 img{
    width:400px;
    height:400px;
}
pre{
    width:400px;
    margin-left:-80px;
}
.moreArticles{
    height:500px;
    background-image:linear-gradient(to bottom, rgb(244, 230, 250), thistle, rgb(145, 120, 145));
}
.moreArticles h2{
    padding-left:5%;
    color:purple;
}
.readMore{
    display:flex;
    width:1300px;
    justify-content:space-around;
    margin-left:20px;
}
.readMoreBox{
    width:252px;
    height:315px;
}
.moreArticles hr{
    width:1220px;
}
.readMoreBox img{
    margin-bottom:5px;
    margin-top:7px;
    filter:drop-shadow(3px 3px 6px grey) drop-shadow(-3px -3px 6px grey);
}
.articleBox3 pre{
    font-family:'Times New Roman', Times, serif;
    padding-left:30px;
    font-size:18px;
}