.pageColumns{
    display:flex;
    justify-content:space-around;
    flex-flow:row nowrap;
}
.pageColumns h1{
    text-decoration:underline;
    text-decoration-color:blueviolet;
}
.dataFlex{
    display:flex;
    justify-content:flex-start;
    flex-flow:row nowrap;
    width:700px;
    height:235px;
}
.dataFlex img{
    width:200px;
    height:200px;
    margin-top:15px;
}
.textCol{
    height:200px;
    margin-left:30px;
}