.latestBox1{
    display:flex;
    width:1300px;
    justify-content:space-between;
    margin-left:20px;
}
.theLatest{
    text-decoration:underline double;
    text-decoration-color:blueviolet;
    margin-left:75px;
}
.box1{
    background-color: lightgrey;
    width:250px;
    border:1px solid lightgrey;
    border-radius:15px;
    filter:drop-shadow(10px 10px 5px gray);
}